<!DOCTYPE html>
<html lang="de" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthsum V5</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Aktuelle Socket.IO Client-Bibliothek hinzufügen -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <style>
        @keyframes gradient-x {
          0% {
            background-position: 2000% 0%;
          }
          100% {
            background-position: 0% 0%;
          }
        }
        
        .animate-gradient-x {
          animation: gradient-x 10s linear infinite;
        }
    </style>
</head>
<body class="h-full flex flex-col">
    <nav class="bg-gray-800 sticky top-0 z-50">
        <div class="sticky top-0 z-50 max-w-full mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <a href="/" class="text-white font-bold text-xl"><img src="{{ url_for('static', filename='healthsum_logo_white.png') }}" alt="Healthsum V5 Logo" class="h-9 w-auto"></a>
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-center space-x-4">
                        {% if current_user.is_authenticated %}
                            {% if request.path == '/read_reports' %}
                            <a href="/" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 flex items-center">
                                <!-- Icon -->
                                Zum Dashboard
                            </a>
                            {% else %}
                            <a href="/read_reports" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 flex items-center">
                                <!-- Icon -->
                                Zu den Berichten
                            </a>
                            {% endif %}
                            <!-- Neuer Button zum Template-Editor -->
                            <a href="{{ url_for('edit_report_templates') }}" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-green-600 hover:bg-green-700 flex items-center">
                                Template-Editor
                            </a>
                            <a href="{{ url_for('logout') }}" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-red-600 hover:bg-red-700 flex items-center">
                                <!-- Icon -->
                                Logout
                            </a>
                        {% else %}
                            <a href="{{ url_for('login') }}" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 flex items-center">
                                <!-- Icon -->
                                Login
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="progress-container" class="w-full bg-gray-200 sticky top-16 h-5 mb-4 hidden">
        <div id="progress-bar" class="h-1 bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-[length:200%_200%] animate-gradient-x" style="width: 0%;"></div>
    </div>
  

    <main class="flex-grow py-6 sm:px-6 lg:px-8">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-gray-800 text-white py-4">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-center space-x-4">
            <a href="/impressum" class="hover:text-gray-300">Impressum</a>
            <a href="/datenschutz" class="hover:text-gray-300">Datenschutz</a>
        </div>
    </footer>

    
</body>
</html>